body, .dash-table-container, .dash-table {
    font-family: 'Segoe UI', Arial, sans-serif !important;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td,
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th {
    word-break: break-word !important;
    font-family: 'Segoe UI', Arial, sans-serif !important;
    font-weight: 400 !important;
    font-size: 15px;
    background: inherit !important;
}

.dash-cell {
    white-space: pre-line !important;
}

.dash-cell-value {
    white-space: pre-line !important;
}